# Core functionality - changes here should be rare!
/src/app.py                   @Alvaro-Exposito-MTZ
/src/backend/database.py      @Alvaro-Exposito-MTZ
/src/backend/routers/auth.py  @Alvaro-Exposito-MTZ

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Alvaro-Exposito-MTZ
